.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 0;

    font-family: 'Ubuntu', sans-serif;
    background-color: #F7F7F7;
    color: #010101;
    letter-spacing: 0.02em;
    line-height: 1.2;
}